.benefits {
  @include page-grid;

  @include on-tablet {
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    row-gap: 64px;
  }

  @include on-desktop {
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
  }
}

.benefit {
  text-align: center;

  @include on-mobile {
    display: none;

    &:first-child {
      display: block;
    }
  }

  @include on-tablet {
    display: block;
  }

  &__icon {
    max-width: 50px;
    max-height: 40px;

    @include on-desktop {
      max-width: 70px;
      max-height: 50px;
    }
  }

  &__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    color: $title-color;
    margin:40px 0 20px;

    @include on-tablet {
      margin:50px 0 20px;
    }

    @include on-desktop {
      margin:30px 0 52px;
    }
  }

  &__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $text-color;
    vertical-align: top;
  }
}
