.nav {
  display: flex;
  flex-direction: column;
  gap: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 50px;

  @include on-tablet {
    gap: 40px;
    font-size: 22px;
  }


  &__link {
    color: $title-color;
    text-decoration: none;

    &:hover {
      color: $primary-btn-hover-color;
      font-weight: 700;
    }
  }

  &--desktop {
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 84px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 28px 0;
    margin: 170px 0 62px;
  }

  @include on-desktop {
    display: flex;
  }
}
