$mobile-min-width: 320px;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$effect-duration: 0.3s;
$text-color-dark: #4F4F4F;
$primary-btn-hover-color: #131313;
$primary-btn-disabled-color: #D0D0D0;
$background-color: #F7F7F7;
$title-color: #333;
$text-color: #7C7C7C;
$btn-text-color: #828282;
